div {
  margin-left: 100px;
  margin-bottom: 50px;
  background-color: plum;
}

.box1 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  transform: rotate(10deg);
}

.box2 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  transform: translate(20px, 20px);
}

.box3 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  transform: scale(2, 2);
}

.box4 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  transform: skew(10deg, 10deg);
}

.box5 {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  transform: matrix(1, 2, -1, 1, 50, 20);
}
