.box {
    width: 200px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
}

.box1{
    margin-top: 50px;
    box-shadow: 0 1px 0 0 red; /* Border bottom */
    box-shadow: 0 -1px 0 0 red; /* Border top */
    box-shadow: -1px 0 0 0 red; /* Border left */
    box-shadow: 1px 0 0 0 red; /* Border right */
    box-shadow: 0 0 0 1px red; /* All borders */

}