header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section {
	padding: 50px;
}

#home {
	background-image: url('https://images2.alphacoders.com/545/545298.jpg');
	background-size: cover;
	background-position: center;
	height: 800px;
}

#home {
    font-family: "Papyrus", Fantasy; /* Change the font family to your desired font */
    color: #2c3e50; /* Change the color to your desired color */
}

#home h1 {
    font-size: 60px; /* Change the font size of the h1 element */
}

#home h3 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px; /* Change the font size of the h3 element */
	color: rgb(246, 255, 0);
}

#gallery {
	background-color: #fff;
	font-size: 25px;
	font-family: "Bradley Hand" ,cursive;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery img {
	width: 30%;
	margin-bottom: 10px;
}

#about {
	background-color: #f2f2f2;
	font-size: 20px;
	font-family: "Brush Script MT",cursive;

}

#about h3 {
	margin-top: 0;
}

#booking {
	background-color: #f2f2f2;
}
